body {
    margin: 0;
    background-color: #f8f9fa; /* Warna latar belakang netral */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff; /* Warna navbar */
    padding: 15px 20px; /* Jarak dalam navbar */
}

.navbar .brand {
    display: flex;
    flex-direction: column; /* Mengatur teks menjadi vertikal */
    align-items: center; /* Memusatkan teks */
    margin-right: 50px; /* Memberikan jarak antara brand dan menu navbar */
}

.navbar h1 {
    font-size: 24px; /* Ukuran font untuk nama brand */
    color: white; /* Warna font untuk nama brand */
    margin: 5px 0; /* Jarak atas dan bawah untuk nama brand */
    font-family: "Poppins", sans-serif; /* Menggunakan font Poppins untuk tampilan ikonik */
}

.navbar h6 {
    font-size: 12px; /* Ukuran font untuk deskripsi */
    color: rgba(255, 255, 255, 0.8); /* Warna deskripsi */
    font-style: italic; /* Menerapkan gaya italic pada deskripsi */
}

.divider {
    height: 30px; /* Tinggi pemisah antara brand dan menu navbar */
    border-left: 1px solid rgba(255, 255, 255, 0.5); /* Garis pemisah */
    margin-left: 20px; /* Jarak dari brand */
    margin-right: 20px; /* Jarak dari menu navbar */
}

.navbar a {
    color: white; /* Warna link */
    padding: 10px 15px; /* Jarak dalam link */
    text-decoration: none; /* Menghilangkan garis bawah */
    border-radius: 5px; /* Sudut yang lebih bulat untuk link */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efek hover pada link */
}

.navbar a.active {
    background-color: rgba(
        255,
        255,
        255,
        0.3
    ); /* Warna latar belakang untuk link aktif */
}

.profile-area {
    display: flex;
    align-items: center;
    color: white; /* Warna teks untuk nama akun */
    margin-left: auto; /* Memindahkan area profil ke ujung kanan */
}

.profile-area i {
    font-size: 24px; /* Ukuran ikon orang */
    margin-right: 10px; /* Jarak antara ikon dan teks nama akun */
}

.notification-icon {
    font-size: 24px; /* Ukuran ikon notifikasi */
    margin-right: 15px; /* Jarak antara ikon notifikasi dan ikon orang */
}
